# Fichiers système Mac
.DS_Store

# Dossiers de logs ou de runs
wandb/
job_test/

# Scripts spécifiques
run_mac.py
opti_hyper_port.py

# Ignorer tous les fichiers CSV dans le dossier knapsack
knapsack/**/*.csv

# Ignorer tous les fichiers CSV dans portfolio (et sous-dossiers)
portfolio/**/*.csv

# Ignorer tous les gros fichiers texte dans portfolio/datasets
portfolio/datasets/**/*.txt

*.ipynb

portfolio/__pycache__/*

portfolio/datasets/*
portfolio/datasets_inf/*
portfolio/datasets_restreint/*

portfolio/jobs_50/*
portfolio/jobs_200/*
portfolio/jobs_400/*
portfolio/jobs_hyper_n50/*
portfolio/jobs_hyper_n200/*
portfolio/jobs_hyper_n400/*

portfolio/logs/*

portfolio/n50/*
portfolio/n50_inf/*
portfolio/n50_restreint/*

portfolio/n200/*
portfolio/n200_inf/*

portfolio/n400/*
portfolio/n400_inf/*
portfolio/n400_restreint/*

*.sh