pip==23.2.1
certifi==2025.1.31+computecanada
pytz==2025.2+computecanada
platformdirs==4.3.7+computecanada
sympy==1.13.1+computecanada
numpy==1.26.4+computecanada
typing_extensions==4.12.2+computecanada
dill==0.4.0
frozenlist==1.5.0+computecanada
scikit_learn==1.5.2+computecanada
requests==2.32.3+computecanada
more_itertools==10.6.0+computecanada
pox==0.3.6
yarl==1.18.3+computecanada
torch_geometric==2.6.1+computecanada
sentry_sdk==2.20.0+computecanada
idna==3.10+computecanada
torch==2.6.0+computecanada
wandb==0.19.6+computecanada
pandas==2.2.3+computecanada
pydantic==2.10.6+computecanada
joblib==1.4.2+computecanada
smmap==5.0.2+computecanada
fsspec==2025.3.2+computecanada
attrs==25.3.0+computecanada
kiwisolver==1.4.8+computecanada
charset_normalizer==3.4.1+computecanada
aiohttp==3.10.9+computecanada
contourpy==1.3.1+computecanada
aiosignal==1.3.2+computecanada
six==1.17.0+computecanada
llvmlite==0.44.0+computecanada
packaging==24.2+computecanada
pybind11==2.13.6+computecanada
click==8.1.8+computecanada
MarkupSafe==2.1.5+computecanada
numba==0.61.0+computecanada
python_dateutil==2.9.0.post0+computecanada
protobuf==5.29.3+computecanada
annotated_types==0.7.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
pyepo==1.0.2
jinja2==3.1.6+computecanada
setuptools==68.0.0
setproctitle==1.3.4+computecanada
psutil==6.1.1+computecanada
pydantic_core==2.27.2+computecanada
tqdm==4.67.1+computecanada
matplotlib==3.10.0+computecanada
propcache==0.2.1+computecanada
geometric==1.0.2+computecanada
cycler==0.12.1+computecanada
networkx==3.4.2+computecanada
urllib3==2.3.0+computecanada
ppft==1.7.7
mpmath==1.3.0+computecanada
pyparsing==3.2.1+computecanada
tzdata==2025.2+computecanada
multidict==6.1.0+computecanada
ConfigSpace==0.7.1+computecanada
docker-pycreds==0.4.0+computecanada
PyYAML==6.0.2+computecanada
threadpoolctl==3.6.0+computecanada
scipy==1.15.1+computecanada
fonttools==4.56.0+computecanada
torchaudio==2.6.0+computecanada
torchvision==0.21.0+computecanada
multiprocess==0.70.18
pillow==11.1.0+computecanada
gurobipy==12.0.0+computecanada
filelock==3.18.0+computecanada
wheel==0.41.1
pathos==0.3.4
aiohappyeyeballs==2.6.1+computecanada
GitPython==3.1.44+computecanada
async_timeout==4.0.3+computecanada
gitdb==4.0.12+computecanada
