yarl==1.20.0
cupy==13.3.0+computecanada
multiprocess==0.70.18
annotated_types==0.7.0+computecanada
platformdirs==4.3.7+computecanada
pydantic==2.11.3+computecanada
pydantic_core==2.33.1+computecanada
aiohttp==3.11.14+computecanada
fsspec==2025.3.2+computecanada
sympy==1.13.1+computecanada
charset_normalizer==3.4.1+computecanada
aiosignal==1.3.2+computecanada
wandb==0.18.0+computecanada
llvmlite==0.44.0+computecanada
idna==3.10+computecanada
MarkupSafe==2.1.5+computecanada
dill==0.4.0
propcache==0.3.1+computecanada
ConfigSpace==1.2.1
frozenlist==1.6.0
threadpoolctl==3.6.0+computecanada
tqdm==4.67.1+computecanada
torch_geometric==2.6.1+computecanada
protobuf==5.29.4
pip==23.2.1
six==1.17.0+computecanada
attrs==25.3.0+computecanada
setuptools==68.0.0
joblib==1.4.2+computecanada
more-itertools==10.7.0
pyepo==1.0.2
requests==2.32.3+computecanada
scikit_learn==1.6.1+computecanada
numba==0.61.2+computecanada
docker-pycreds==0.4.0+computecanada
mpmath==1.3.0+computecanada
gurobipy==12.0.0+computecanada
filelock==3.18.0+computecanada
setproctitle==1.3.4+computecanada
urllib3==2.4.0+computecanada
smmap==5.0.2+computecanada
torch==2.6.0+computecanada
psutil==6.1.1+computecanada
multidict==6.4.3
networkx==3.4.2+computecanada
jinja2==3.1.6+computecanada
typing_inspection==0.4.0+computecanada
aiohappyeyeballs==2.6.1+computecanada
click==8.1.8+computecanada
pyparsing==3.2.3
pathos==0.3.4
certifi==2025.1.31+computecanada
GitPython==3.1.44+computecanada
gitdb==4.0.12+computecanada
fastrlock==0.8.1+computecanada
pox==0.3.6
PyYAML==6.0.2+computecanada
sentry-sdk==2.26.1
numpy==2.2.2+computecanada
scipy==1.15.1+computecanada
ppft==1.7.7
typing_extensions==4.13.2+computecanada
